html, body {
	overflow-x: hidden;
}

/*Restaurant Page*/

#reviews-container li,
#restaurants-list li {
	width: 45%;
    margin: 1%;
    padding: 1%;	
}

#reviews-container ul ,
#restaurants-list {
	display: flex;
	flex-wrap: wrap;
}


#restaurant-container {
	padding: 40px 40px 30px;
}

.reviewer {
	color: orange;
    font-weight: 600;
}

.rating {
	color: #BF1722;
}

/*Entry Page*/

.filter-options {
	padding-top:2%;
}

.inside #footer {
	width: 100%;
	padding-left: 1%;
}

nav h1 {
	padding:2%;
}

.skip-link {
	position: absolute;
	top:-40px;
	left:0;
	background:#BF1722;
	color:white;
	padding: 8px;
	z-index: 0;
}

.skip-link:focus {
	position: relative;
	top:0px;
	z-index: 999;
}	


